@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
	@apply text-base overflow-x-hidden;
	font-family: var(--font-zen), sans-serif;
	color: var(--foreground);
	background-color: var(--background);
	min-height: 100vh;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 992px) {
		font-size: 14px;
	}
}

.bg-border\/5 {
    background-color: rgba(255, 255, 255, 0.05);
}

.tiptap {
	@apply mt-2 w-full rounded-lg border bg-white/0 p-3 text-base outline-none placeholder:text-white/30 placeholder:font-normal duration-500 transition-colors focus:border-primary;
}

.tiptap h1 {
  @apply text-2xl;
}
.tiptap h2 {
  @apply text-xl;
}
.tiptap h3 {
  @apply text-lg;
}

.slide {
	animation: slide_anim 0.5s;
}

@keyframes slide_anim {
	from {
		transform: translateX(50px);
		opacity: 0.4;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.animation-opacity {
	animation: opacity_anim 0.5s;
}

@keyframes opacity_anim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

